@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


:root{
  --primary-color: #FEA301;
  --secondary-color: #01ACFD;
  --tertiary-color: #8700FF;
  --text-color-dark: #000;
  --text-color-light: #fff;
  --border-radius: 8px;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}   

html, body {
  font-family: "Quicksand", serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
}

a{
  text-decoration: none;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn-primary{
    font-size: 1.25rem;
    display: inline-block;
    padding: .5rem 2.5rem;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

.btn-primary:hover{
    filter: brightness(85%);
}

/* Header Start */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav .logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

nav .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-menu a{
    margin-left: 1rem;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.25rem;
    transition: var(--transition);
}

.nav-menu a:first-child{
    color: var(--primary-color);
}

.nav-menu a:nth-child(2){
    color: var(--secondary-color);
}

.nav-menu a:nth-child(3){
    color: rgb(163, 163, 163);
}

.nav-menu a:last-child{
    color: var(--tertiary-color);
}

.nav-menu a:hover{
    font-weight: bold;
}
/* Header End */